@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0; /* Remove default margin */
  @apply font-sans; /* Use Tailwind's font-sans */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-mono; /* Use Tailwind's font-mono */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styles can go here */
